---
layout: page
title: EasyStay
permalink: /
---

<!-- Slider Start -->
<section id="beach-sunset">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <h1 class="animated fadeInUp display-3">Relax. We've got this!</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="animated fadeInUp">Planning your next vacation?</h2>
                    <p class="animated fadeInUp">Let us be your personal concierge</p>
                    <a href="{{ site.baseurl }}/capstone" class="btn btn-info">Get Vacationing</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                  <h2 class="animated fadeInUp">Renting your place?</h2>
                  <p class="animated fadeInUp">We can help you prep for guests</p>
                  <a href="{{ site.baseurl }}/capstone" class="btn btn-info">Get Hosting</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Our Services</h2>
          <p>Let us help you</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
              <i class="fal fa-key"></i>
            <h4>Key Exchange</h4>
            <p>We'll exchange keys on your time schedule. No more waiting around for the other person to show up.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fal fa-broom"></i>
            <h4>Cleaning</h4>
            <p>Forget about cleaning the place. We can make sure it's looking spotless before the next guest shows up</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fal fa-box-full"></i>
            <h4>Storage</h4>
            <p>We can safely store your belongings until your back again!</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fal fa-store"></i>
            <h4>Shopping</h4>
            <p>Let us get you stocked up with all the essentials.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fal fa-golf-club"></i>
            <h4>Activities</h4>
            <p>Want help finding something to do. We can schedule your next tee time or boat excursion.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fal fa-luggage-cart"></i>
            <h4>Luggage Loading</h4>
            <p>We'll handle your luggage so you don't have to. From the airport to your door.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
              <i class="fal fa-utensils"></i>
            <h4>Reservations</h4>
            <p>We can plan your reservations for the week!</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
              <i class="fal fa-tshirt"></i>
            <h4>Laundry &amp; Linens.</h4>
            <p>You're on vacation. Let us wash and fold your clothes.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Careers</h2>
      <p>Want to join our team? We're looking for dedicated professionals who can help our customers.</p>
      <a href="{{ site.baseurl }}/capstone" class="btn btn-view-works">View our Jobs</a>
    </div>
  </div>
</div>
</section>


<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="block">
            <div class="section-title">
              <h2>About Us</h2>
              <p>We like to do business <a href="https://smart.ly">smartly</a>.</p>
            </div>
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <!--<img src="img/IMG_0478.jpg" alt="Img">-->
          </div>
        </div><!-- .col-md-5 close -->
      </div>
    </div>
  </section>
  
<!-- Call to action Start -->
<section id="dock">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Want to Invest?</h2>
          <p>Read more about what we do and our business philosophy. We're looking for a few more angel investors to help make everyone's stay a little easier.</p>
          <a class="btn btn-default btn-dock" href="{{ site.baseurl }}" >Invest in EasyStay</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>It take's a lot to complete a business plan as part of a <a href="https://smart.ly">Smartly</a> <a href="https://smart.ly/the-executive-mba">EMBA</a> capstone project.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          <ul class="counter-box clearfix">
            {% for ff in site.data.funfacts %}
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                {% if ff.tip.size == null 0 %}
                  <span>{{ ff.text }}</span>
                {% else %}
                  <span data-toggle="tooltip" data-html="true" title="{{ ff.tip }}">{{ ff.text }}</span>
                {% endif %}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
