<!-- Header Start -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">
      <img class="mt-1" src="{{ site.baseurl }}/img/easystay_logo_100h.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="d-lg-flex justify-content-end">      
        <div class="navbar-nav">
          <!--<a class="nav-item nav-link" href="{{ site.baseurl }}/"><i class="far fa-home"></i> Home</a>-->
          <a class="nav-item nav-link" href="{{ site.baseurl }}/info/"><i class="fal fa-users"></i> About Us</a>
          <a class="nav-item nav-link" href="{{ site.baseurl }}/guests/"><i class="fal fa-suitcase"></i> Guests</a>
          <a class="nav-item nav-link" href="{{ site.baseurl }}/hosts/"><i class="fal fa-hotel"></i> Hosts</a>
          <a class="nav-item nav-link" href="{{ site.baseurl }}/hosts/"><i class="fal fa-envelope"></i> Contact</a>
          <a class="nav-item nav-link" href="{{ site.baseurl }}/register/"><i class="fal fa-user"></i> Sign in/Register</a>
        </div>
      </div>
    </div>
  </nav>
</div>